.dog-status {
    border-radius: 0px;
}

.event-img {
    height: 30vmin;
    overflow-y: hidden;
}

.dft-color{
    background-color: #80C5CA !important;
}

.dft-dark {
    background-color: #4badb4 !important;
}

.dft-orange {
    background-color: #FA940A;
}

.dog-card {
    background-color: #FA940A;
}

.btn-add {
    background-color: #449ca2 !important;
    color: #fff;
}

.btn-add:hover {
    background-color: #35797e !important;
    color: #fff;
}